body{
    text-align: center;
    margin: 0;

}
img {
    width: 30%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    

}

.header{
    background-image:url(https://cdn.pixabay.com/photo/2019/10/12/20/23/hungary-4544781_1280.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    transition: all 3s ease-in-out;
    
    
}

.header:hover{
    background-image: url(https://cdn.britannica.com/65/183465-050-FEFA1520/Szechenyi-Chain-Bridge-Danube-River-Budapest.jpg);
    background-size: cover;
    background-position:center;
    transition: 3s;

}



#header-title {
    font-size: 50px;
    color: #f0ead2;
    margin:auto ;
    background: #31572c;
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
    max-width: 90%;
    margin-bottom: 10px;
   
}

#header-subtitle {
    font-size: 30px;
    color: #f0ead2;
    margin: 0 auto;
    background: #31572c;
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
    max-width: 90%;
    

}

.content{
    background-color: #a98467;
    background-size: cover;
    padding: 20px;
    color: #132a13

}

.activities{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    word-wrap: break-word;
}

#img1,#img2,#img3 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding : 15px;
    border: 0px solid black;
    border-radius: 205px;

}
.szoveg{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #f0ead2;
    font-size: 20px;
    width: 300px;
   

}



.guide {
 display:flex;
 align-items: center;
 justify-content: center;
 background: #31572c;
 color:#f0ead2;
 width: 500px;
 padding: 20px;
 margin: 50px auto;

}

.guide-text{
    width: 250px;
    margin-left:20px;
    display: flex;
    flex-direction: column;


}


#myself {
   width : 150px;
   height : 150px;
   align-items: center;

}
   
   
