body{
    text-align: center;
    margin: 0;

}
img {
    width: 30%;
    height: 400px;
    object-fit: cover;
}

.header{
    background-image:url(https://cdn.pixabay.com/photo/2019/10/12/20/23/hungary-4544781_1280.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px;
    

}

#header-title {
    font-size: 50px;
    color: #ffffff;
    margin: 0;
    background:#41757D;
    padding: 10px;
    border-radius: 50px;
    background-size: cover;
    display:inline-block;
    width: fit-content;
    margin-bottom: 20px;
}

#header-subtitle {
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    background:#404e7c;
    padding: 10px;
    border-radius: 50px;
    background-size: cover;
    display:inline-block;
    width: auto;

}


    


.guide {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px 400px 20px 400px;
    background-color: purple;
     display: flex;
    flex-direction: column;   /* SZÖVEGEK egymás alatt */
  text-align: right;
    
}

#myself {
   width : 150px;
   height : 150px;
   display: flex;
justify-content: flex-start;  
align-items: center; 
}

